* {
    padding: 0;
    margin:0;
}


.nav-bar {
    background-color: grey;
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
}

main {
    margin: auto;
    width: 90%;
    height: 1050px;
    padding-top: 20px;
    
}

.section-1 {
    width: 100%;
    height: 500px;
    background-color: grey;
}

.section-2 {
    width: 100%;
    height: 250px;
    background-color: grey;
    margin-top:20px;
    display: flex;
    justify-content:center;
}

.section-3 {
    width: 100%;
    height: 250px;
    background-color: grey;
    margin-top:20px;
    display: flex;
    justify-content:center;
}